
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(90deg, #ff000007, #3f0a0a36);
    color: white;
}

header h1{
    font-size: 3res;
    margin-bottom: 10px;
}
header p{
    font-size:1.2rem;
    margin: 0;
}
section {
    margin: 40px 0;
    padding: 20px;
    border-radius: 10px;
    background: #1f1f1f; /* Darker Section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #ff0000;
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    display: block;
    width: 350px;
    height: 200px;
    border-radius: 60%;
    margin: 30px auto;
    border: 3px solid #ff000005;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #0d0d0d; /* Black Footer */
    color: #e0e0e0;
}

footer .social-icons {
    margin: 10px 0;
}

footer .social-icons a {
    margin: 0 10px;
    color: #ff0000; /* Red Icons */
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

footer .social-icons a:hover {
    transform: scale(1.2);
}
